<section onclick="closeNav()">
    <div class="about-sec">
        <div class="container-2">
            <div class="sub-con">
                <img src="assets/title.png">
                <h2>About Our Food & Restaurant</h2>
                <span>It is a long established fact that a reader will be distracted by the readable content of a<br>
                    page when looking at its layout. The point of using Lorem</span>
            </div>


            <div class="my-sec">
                <div class="about-box  col-xl-6">
                    <h1>Best Food</h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary
                        to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                        Latin literature from 45 BC, making it over 2000 years old. Richard</p>
                </div>

                <div class="col-xl-5">
                    <div class="my-bg">
                        <div>
                            <img class="m-img" src="assets/about-img.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="my-imgs">
                    <img class="food one-img" src="assets/blog_img2.png">
                    <img class="food two-img" src="assets/blog_img2.png">
                </div>
                
            </div>
           
            


        </div>


    </div>
</section>