<section onclick="closeNav()">

    <div class="all-con">
        <div class="bg">
            <div class="row-1">
                <div class="heading">
                    <h1>Request A <span>Call Back</span></h1>
                </div>
    
                <div class="my">
                    <input type="text" placeholder="Email">
                </div>
                <div class="my">
                    <input type="password" placeholder="password">
                </div>
                <div class="my">
                    <input type="text" placeholder="phone">
                </div>
                <div class="my">
                    <textarea placeholder="message"></textarea>
                </div>
                <div class="my">
                    <button mat-raised-button color="primary">send</button>
                </div>
                
            </div>
    
            <div class="row-2">
                <img src="assets/img.jpg">
            </div>


        </div>

        <div class="my-all-footer">
            <div class="bg-color">
                <h3>Newsletter</h3>
                <input type="email" placeholder="Email">
                <button mat-raised-button color >subscribe</button>
            </div>
            
        </div>
        
    </div>
    
</section>