<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon onclick="openNav()">menu</mat-icon>
  </button>
  <a  routerLink="home"><img class="logo"  src="assets/logo.png"></a>
  <span class="example-spacer"></span>
  <button  mat-button class="example-icon favorite-icon email" aria-label="Example icon-button with heart icon">
    <span class="material-icons">
      perm_phone_msg
    </span>+91 9994727841
  </button>
  <button   mat-button class="example-icon email" aria-label="Example icon-button with share icon">
    <span class="material-icons">
      email
    </span>eniyavan1997@gmail.com
  </button>

  <div class="btn" style="padding-left: 10px;">
    <button mat-flat-button color="primary">Login</button>
  </div>
  <div class="btn" style="padding-left: 10px;">
    <button mat-raised-button color="warn">Register</button>
  </div>
</mat-toolbar>


<div id="mySidenav" class="sidenav ">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a onclick="closeNav()"  class="en-en" routerLink="home">Home</a>
  <a onclick="closeNav()"  class="en-en" routerLink="about">About</a>
  <a onclick="closeNav()"  class="en-en" routerLink="ourclient">Our Client</a>
  <a onclick="closeNav()"  class="en-en" routerLink="contact">Contact</a>
</div>
<router-outlet></router-outlet>





