/* You can add global styles to this file, and also import other style files */

html, body { height: 80vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box;}


.en-en a {
    padding: 70px 8px 8px 32px;
    text-decoration: none;
    font-size: 29px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


@media(max-width:934px)
{
    .email
    {
        visibility: hidden;
    }
}

@media(max-width:568px){
    .btn
    {
        position: relative;
        right: 8em;
        top: 4em;
    }
}

