<section>
    <div class="row">
        <div class="container">
            <h1>Discover Restaurants
                That deliver near You</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <button mat-raised-button color="primary">Order Now</button>
        </div>

        <div class="img-file">
            <img class="my-img" src="assets/burger_slide.png">
        </div>
    </div>
</section>

<footer class="my-footer">
    <div class="footer-food">
        <img class="food-fo" src="assets/rs1.png">
        <img class="food-fo" src="assets/rs2.png">
        <img class="food-fo" src="assets/rs3.png">
    </div>

</footer>